.preloader-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.5);
    z-index: 9;
}
[v-cloak] {display: none}

/*Calendar*/
#calendar .fc-toolbar.fc-header-toolbar {
	display: none !important;
}

.calendar-container{
	position: relative;
}

.fc-row .fc-bgevent-skeleton .fc-bgevent:not(.fc-nonbusiness) {
    opacity: 1;
    color: #5A8E9D;
    padding-left: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}
.fc-row .fc-bgevent-skeleton .fc-bgevent.disabled {
    color: #FFF;
}

.fc-row .fc-bgevent-skeleton .fc-bgevent.disabled {
	cursor: not-allowed;
}

.fc-day:hover{
	/*background:lightblue;*/
}

/*Allow pointer-events through*/
.fc-slats, /*horizontals*/
.fc-content-skeleton, /*day numbers*/
.fc-bgevent-skeleton /*events container*/{
    pointer-events:none
}

/*Turn pointer events back on*/
.fc-more-cell,
.fc-bgevent,
.fc-event-container{
    pointer-events:auto; /*events*/
}

.fc-event.fc-draggable {
    /*cursor: grab !important;*/
}

a.fc-day-grid-event.fc-event {
    overflow: hidden;
    padding: 0 4px;
    margin: 1px 5px;
    border-radius: 5px;
    background-color: #3DA88B;
    color: #fff;
}

a.fc-day-grid-event.fc-event:hover {
    color: #fff;
}


a.fc-day-grid-event.fc-event > .remove-event {
	color: red;
    float: right;
    line-height: 1;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    line-height: 0;
    margin: 5px 2px;
    right: 0;
}

/*Modal Style*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
    position: absolute;
    bottom: 0;
    top: 0;
    overflow-y: auto;
    width: 100%;
    padding: 20px 0;
}

.modal-container {
  width: 600px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

ul.modal-timeslot {
    margin: 0;
    padding: 0;
}
ul.modal-timeslot li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}